@page
@using CowboyCafe.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <!-- throw new Exception("Testing..."); -->
}
<div class="text-center">
    <h1 class="display-4">Howdy y'all! Welcome to Cowboy Cafe!</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust
        on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
        Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take
        it easy with us.
    </p>
    <form id="main-menu" method="post">
        <div class="search">
            <input type="text" name="SearchTerms" />
            <input type="submit" value="Search" />
        </div>
        <div class="options">
            @foreach (String option in Menu.Option)
            {
                <label>
                    <input type="checkbox" name="Options" value="@option" checked="@Model.Options.Contains(option)" />
                    @option
                </label>
            }
        </div>
        <div class="ranges">
            <label>
                Price Range:
                <input name="PriceMin" type="number" min="0" max="20" step="0.1" placeholder="0" value="@Model.PriceMin" />
                and
                <input name="PriceMax" type="number" min="0" max="20" step="0.1" placeholder="20" value="@Model.PriceMax" />
            </label>
            <label>
                Calories Range:
                <input name="CaloriesMin" type="number" min="0" max="2000" step="1" placeholder="0" value="@Model.CaloriesMin" />
                and
                <input name="CaloriesMax" type="number" min="0" max="2000" step="1" placeholder="2000" value="@Model.CaloriesMax" />
            </label>
        </div>
        <div class="options-display">
            <div class="column">
                <h2 class="menu-category">Entrees</h2>
                @foreach (IOrderItem item in @Model.Items)
                {
                    @if (item is Entree entree)
                    {
                        <div class="menu-item">
                            <h4>@entree.ToString()</h4>
                            <div class="menu-informaton">
                                <ul>
                                    <li>Price: $@string.Format("{0:#.00}", entree.Price), Calories - @entree.Calories</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="column">
                <h2 class="menu-category">Sides</h2>
                @foreach (IOrderItem item in @Model.Items)
                {
                    @if (item is Side side)
                    {
                        <div class="menu-item">
                            <h4>@side.ToString()</h4>
                            <div class="menu-informaton">
                                <ul>
                                    <li>Price: $@string.Format("{0:#.00}", side.Price), Calories - @side.Calories</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="column">
                <h2 class="menu-category">Drinks</h2>
                @foreach (IOrderItem item in @Model.Items)
                {
                    @if (item is Drink drink)
                    {
                        <div class="menu-item">
                            <h4>@drink.ToString()</h4>
                            <div class="menu-informaton">
                                <ul>
                                    <li>Price: $@string.Format("{0:#.00}", drink.Price), Calories - @drink.Calories</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </form>
</div>
