@page
@using CowboyCafe.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <!-- throw new Exception("Testing..."); -->
}

<div class="text-center">
    <h1 class="display-4">Howdy y'all! Welcome to Cowboy Cafe!</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust
        on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
        Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take
        it easy with us.
    </p>
    <div class="column">
        <h2 class="menu-category">Entrees</h2>
        @foreach (Entree item in Menu.Entrees())
        {
            <div class="menu-item">
                <h4>@item.ToString()</h4>
                <div class="menu-informaton">
                    <ul>
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="column">
        <h2 class="menu-category">Sides</h2>
        @foreach (Side item in Menu.Sides())
        {
            <div class="menu-item">
                <h4>@item.Name</h4>
                <div class="menu-informaton">
                    <h5>Small</h5>
                    <ul>
                        @{ item.Size = Size.Small;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                    </ul>
                    <h5>Medium</h5>
                    <ul>
                        @{ item.Size = Size.Medium;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                    </ul>
                    <h5>Large</h5>
                    <ul>
                        @{ item.Size = Size.Large;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="column">
        <h2 class="menu-category">Drinks</h2>
        @foreach (Drink item in Menu.Drinks())
        {
            <div class="menu-item">
                <h4>@item.Name</h4>
                @if(item is JerkedSoda soda)
                {
                    <p>Flavors: CreamSoda, Orange Soda, Sarsparilla, BirchBeer, RootBeer</p>
                }
                <div class="menu-informaton">
                    <h5>Small</h5>
                    <ul>
                        @{ item.Size = Size.Small;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        @if (item is TexasTea smallTea)
                        {
                            smallTea.Sweet = false;
                            <li>(Unsweetened) Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        }
                    </ul>
                    <h5>Medium</h5>
                    <ul>
                        @{ item.Size = Size.Medium;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        @if (item is TexasTea mediumTea)
                        {
                            mediumTea.Sweet = false;
                            <li>(Unsweetened) Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        }
                    </ul>
                    <h5>Large</h5>
                    <ul>
                        @{ item.Size = Size.Large;}
                        <li>Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        @if (item is TexasTea largeTea)
                        {
                            largeTea.Sweet = false;
                            <li>(Unsweetened) Price: $@string.Format("{0:#.00}", item.Price), Calories - @item.Calories</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
